@import '@schwab/everest-css/dist/css/unified/index.css';

.container{
    margin-top: 5%;
}

.right-banner{
    float:right;
}

.left-content{
    float: left;
    width: 75%;
}

.post-block{
    margin-left:30%;

}
.posts-display{
    margin-top:4vh;
    margin-bottom: 10vh;
}

.posts{
    border: solid rgb(93, 90, 200) 2px;
    margin: 2%;
}

#sub{
    width: 50%;
}

#title{
    width: 50%;

}

#body-contain{
    width: 50%;
    height: 90px;
}