
<div class="container">
    <div class="right-banner">
        <div>
            <h4>Create a new Sub</h4>
            <input [ngModel]="getName()" (ngModelChange)="setName($event)" #newSub>
            <button type="button" (click)="createSub(newSub)">+</button>
            <sdps-button variation="primary" id="primary-button-example" sdps-name="example-primary">
                Primary
            </sdps-button>
        </div>
        
        
        <div>
            <p *ngFor="let item of sub">
                <li>{{item.name}}</li>
            </p>
            <li *ngIf="subName">{{"r/"+subName}}</li>
        </div>
    </div>
    <div class="left-content">
        <div class="post-block">
            <h4>Create a new post</h4>
            <h5>SubReddit name:</h5>
            <input id="sub" type="text" #title>
            <h5>Post title:</h5>
            <input id="title" type="text" #name>
            <h5>Post content:</h5>
            <textarea id="body-contain" type="text" #body></textarea>
            <div>
                <button type="button" (click)="createPost(title,name,body)">Post</button>
            </div>
        </div>
        <div class="posts-display">
            <div class="posts" *ngFor="let item_post of post">
                <strong>{{item_post.name}}</strong>
                <ul>{{item_post.title}}</ul>
                <ul>{{item_post.body}}</ul>
                <ul>{{item_post.likes}}</ul>
                <button (click)="upvote(item_post)">↑</button>
                <button (click)="downvote(item_post)">↓</button>
            </div>
        </div>
    </div>
    
    
</div>
